{{ 'component-postcode-checker-form.css' | asset_url | stylesheet_tag }}
<script src="https://cdn.getaddress.io/scripts/getaddress-find-2.0.0.min.js"></script>
<script src="https://cdn.getaddress.io/scripts/getaddress-autocomplete-1.1.3.min.js"></script>
<script src="{{ 'papaparse.min.js'  | asset_url }}"></script>
<script src="{{ 'postcode-checker-form.js' | asset_url }}" defer="defer"></script>

<div class="pcc-form center {% if section.settings.full_width == false %}pcc-form--narrow page-width{% endif %}">
  <div class="pcc-form__wrapper color-{{ section.settings.color_scheme }} gradient content-container isolate{% if section.settings.full_width %} content-container--full-width{% endif %} section-{{ section.id }}-padding page-width">
    <form id="PostcodeChecker" action="">
      <h1>{{ section.settings.title }}</h1>

      <!-- One "tab" for each step in the form: -->
      <!-- Step 1 -->

      <div id="PPCFirstStep" class="pcc-form__tab">
        <h3>First, let’s check your postcode so we can confirm that you’re within our delivery area</h3>
        <div class="pcc-form__input-container">
          <p class="pcc-form__input pcc-form__input--two-cols">
            <input id="PCCName" placeholder="First Name*" type="text" value="" onclick="this.className = ''">
          </p>
          <p class="pcc-form__input pcc-form__input--two-cols">
            <input id="PCCLastName" placeholder="Last Name*" type="text" value="" onclick="this.className = ''">
          </p>
          <p class="pcc-form__input pcc-form__input--two-cols">
            <input
              id="PCCPostcode"
              placeholder="Postcode* e.g. NE4 5TD"
              type="text"
              value=""
              onclick="this.className = ''"
            >
          </p>

          <p class="pcc-form__input pcc-form__input--two-cols">
            <input id="PCCEmail" placeholder="Email*" type="email" value="" onclick="this.className = ''">
          </p>

          <p class="pcc-form__input pcc-form__text-one-column--with-checkbox">
            <label class="pcc-form__checkbox-label"
              >Want to keep up to date with our news and special offers? Just select the checkbox below. Don’t worry, we
              won’t bombard you with emails!<br>
              <br>

              Having difficulty filling in this form? No problem! Just visit our
              <a href="https://www.ringtons.co.uk/get-in-touch-i99" target="_blank">Contact page</a> for alternative
              ways to get in touch.

              <input id="PCCOptIn" type="checkbox">
              <span class="pcc-form__checkmark"></span>
            </label>
          </p>
        </div>
        <!--
          <p class="pcc-form__instructions">
            Having difficulty filling in this form? No problem! Just visit our
            <a href="https://www.ringtons.co.uk/get-in-touch-i99" target="_blank">Contact page</a> for alternative ways to
            get in touch
          </p>
        -->

        <p class="terms-conditions-text">
          *T&Cs apply. Choose a free packet of biscuits from Ringtons core range, on your first Ringtons doorstep
          delivery, when you purchase tea or coffee. Ringtons reserves the right to amend or retract this offer.
        </p>
      </div>

      <!-- Step 2 -->
      <div id="PPCSecondStep" class="pcc-form__tab">
        <h3>Great, we deliver in your area! To help us direct you to the right place, please can you tell us:</h3>
        <div class="pcc-form__input-container">
          <p class="pcc-form__input">
            <select
              id="PCCActiveClient"
              class="pcc-form__input-select"
              name="have-an-account-with-us"
              onclick="this.className = ''"
            >
              <option disabled selected value="not-selected">
                Do you already get a Ringtons delivery to your door?
              </option>
              <option value="existing-client">Yes</option>
              <option value="new-client">No</option>
            </select>
          </p>
        </div>
        <p class="terms-conditions-text">
          *T&Cs apply. Choose a free packet of biscuits from Ringtons core range, on your first Ringtons doorstep
          delivery, when you purchase tea or coffee. Ringtons reserves the right to amend or retract this offer.
        </p>
      </div>

      <!-- Step 3 -->
      <div id="PPCThirdStep" class="pcc-form__tab">
        <h3>
          Fill in the form below and we’ll call you to give you more information, including the day we deliver in your
          area, our prices and to confirm whether you would like to book your first free personal delivery.
        </h3>
        <div class="pcc-form__input-container">
          <p class="pcc-form__input">
            <input id="PCCNumber" placeholder="Contact Number*" type="tel" value="" onclick="this.className = ''">
          </p>
          <p class="pcc-form__input pcc-form__input--two-cols">
            <input id="formatted_address_0" placeholder="First Address Line*" type="text">
          </p>
          <p class="pcc-form__input pcc-form__input--two-cols">
            <input id="formatted_address_1" placeholder="Second Address Line" type="text">
          </p>
          <p class="pcc-form__input pcc-form__input--two-cols">
            <input id="formatted_address_2" placeholder="Third Address Line" type="text">
          </p>
          <p class="pcc-form__input pcc-form__input--two-cols">
            <input id="town_or_city" placeholder="Town" type="text">
          </p>
          <p class="pcc-form__input pcc-form__input--two-cols">
            <input id="county" placeholder="County" type="text">
          </p>
          <p class="pcc-form__input pcc-form__input--two-cols">
            <input id="postcode" placeholder="Postcode*" type="text">
          </p>
        </div>
        <p class="terms-conditions-text">
          *T&Cs apply. Choose a free packet of biscuits from Ringtons core range, on your first Ringtons doorstep
          delivery, when you purchase tea or coffee. Ringtons reserves the right to amend or retract this offer.
        </p>
      </div>

      <!-- Step 4 -->
      <div id="PPCFourthStep" class="pcc-form__tab">
        <h3>Thank you for your details, we'll be in touch! Please specify what would you like from us next.</h3>
        <p>
          Please note our delivery service is free, it's not a subscription service and there's no obligation to buy at
          any point.
        </p>

        <div class="pcc-form__input-container">
          <legend>When we contact you, what information would you like from us?</legend>
          <p class="pcc-form__input pcc-form__text-one-column--with-checkbox info-checkbox">
            <label class="pcc-form__checkbox-label"
              >Price List
              <input id="price-list" type="checkbox">
              <span class="pcc-form__checkmark"></span>
            </label>
          </p>
          <p class="pcc-form__input pcc-form__text-one-column--with-checkbox info-checkbox">
            <label class="pcc-form__checkbox-label"
              >Days you deliver in my area
              <input id="delivery-days" type="checkbox">
              <span class="pcc-form__checkmark"></span>
            </label>
          </p>
          <p class="pcc-form__input pcc-form__text-one-column--with-checkbox info-checkbox">
            <label class="pcc-form__checkbox-label"
              >Arrange a visit
              <input id="arrange-visit" type="checkbox">
              <span class="pcc-form__checkmark"></span>
            </label>
          </p>
          <p class="pcc-form__input pcc-form__text-one-column--with-checkbox info-checkbox">
            <label class="pcc-form__checkbox-label"
              >Other
              <input id="other" type="checkbox">
              <span class="pcc-form__checkmark"></span>
            </label>
          </p>

          <p class="pcc-form__input">
            <!--
              <select id="PCCRequest" class="pcc-form__input-select" name="hear-about-us" onclick="this.className = ''">
                <option disabled selected value="not-selected">
                  When we contact you, what information would you like from us?
                </option>
                <option value="price-list">Price list</option>
                <option value="delivery-days">Days you deliver in my area</option>
                <option value="arrange-visit">Arrange a visit</option>
                <option value="other">Other</option>
              </select>
            -->
          </p>
          <p class="pcc-form__input hidden">
            <input
              id="PCCRequestOther"
              placeholder="If other, please specify"
              type="text"
              value=""
              onclick="this.className = ''"
            >
          </p>
          <p class="pcc-form__input">
            <select id="PCCReferral" class="pcc-form__input-select" name="hear-about-us" onclick="this.className = ''">
              <option disabled selected value="not-selected">Lastly, how did you hear about us?</option>
              <option value="used-personal-delivery-service">I used to use the personal delivery service</option>
              <option value="bought-ringtons-products-online">I have bought Ringtons products online</option>
              <option value="friends-or-family">From friends or family</option>
              <option value="cafe-restaurant">Tried Ringtons at a cafe/restaurant</option>
              <option value="website">Website</option>
              <option value="social-media">Social media</option>
              <option value="salesperson">Salesperson called</option>
              <option value="other">Other</option>
            </select>
          </p>
          <p class="pcc-form__input hidden">
            <input
              id="PCCReferralOther"
              placeholder="If other, please specify"
              type="text"
              value=""
              onclick="this.className = ''"
            >
          </p>
        </div>
        <p class="terms-conditions-text">
          *T&Cs apply. Choose a free packet of biscuits from Ringtons core range, on your first Ringtons doorstep
          delivery, when you purchase tea or coffee. Ringtons reserves the right to amend or retract this offer.
        </p>
      </div>

      <!-- Circles which indicates the steps of the form: -->

      <div style="text-align:center;margin-top:40px;">
        <span class="pcc-form__step"></span>
        <span class="pcc-form__step"></span>
        <span class="pcc-form__step"></span>
        <span class="pcc-form__step"></span>
      </div>

      <div class="pcc-form__button-container">
        <button class="pcc-form__button-prev" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button class="pcc-form__button-next" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </form>
    <script>
      getAddress.autocomplete('formatted_address_0','K3Kz7LeNV0WF1SM68Ek2nA37520');
    </script>
  </div>
</div>

{% schema %}
{
  "name": "Postcode Checker Form",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Form Title"
    }
  ],
  "presets": [
    {
      "name": "Postcode Checker Form"
    }
  ]
}
{% endschema %}
